body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 30%;
    background-color: #f8f9fa;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

#search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    height: 40px;
}

#search-form button {
    background-color: #25d366;
    border: none;
    color: white;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    transition: background-color 0.3s;
    line-height: 40px;
}

#search-form button:hover {
    background-color: #1db954;
}

.request, .friend {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.request:hover, .friend:hover {
    background-color: #e0e0e0;
}

.request form {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.request button {
    margin: 0 5px;
}

#chat-area {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#chat-header {
    background-color: #075e54;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#chat-box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    padding: 10px;
    background: url(../img/background_chat.png);
    white-space: pre-line;  /* Permite que los saltos de línea se respeten */
    direction: ltr; /* Cambia la dirección del contenido a izquierda a derecha */
}

#chat-form {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}

#chat-form textarea {
    flex: 1;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
}

#chat-form button {
    background-color: #25d366;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#chat-form button:hover {
    background-color: #1db954;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 60%;
}

.user {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
}

.friend {
    background-color: #fff;
    align-self: flex-start;
    text-align: left;
}

form[action="../actions/logout.php"] {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form[action="../actions/logout.php"] button {
    width: 100%;
}
